HOST=http://localhost
PORT=3000

CLIENT_HOST=http://localhost:5173
CLIENT_BASE_PATH='/react_phone-catalog/#/'


DATABASE_URL=  #postgres://<Username>:<Password>@localhost:<Port>/postgres

SMTP_USER=    #example@gmail.com
SMTP_PASS=    #Password

JWT_ACTIVATION_SECRET=      #265921-931b-4e4d-8ce4-43543622
JWT_ACCESS_SECRET=          #665921-931b-4e4d-8ce4-4334d
JWT_REFRESH_SECRET=         #b65921-931b-4e4d-8ce4-446s
JWT_RESET_PASSWORD_SECRET=  #eaa65921-931b-4e4d-8ce4-43543231622
JWT_RESET_EMAIL_SECRET=     #eaa65921-931b-4e4d-8ce4-4232443622

